#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=kr --xlayouts='kr'
# System language
lang ko_KR.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost

# Root password
rootpw --iscrypted $6$vrWIpjPmcFTpbnhY$Lo216wZfBoXfcSv.cFeeb/U/KI21Y3zMX0F.Vtw1NsM/PdFOaAHuP35wVDx4.5jFTQ9Bgg.NfMVeiuwFkZhPj.
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Seoul --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
part swap --fstype="swap" --ondisk=sda --size=2048
part pv.993 --fstype="lvmpv" --ondisk=sda --size=27647
part /boot --fstype="ext4" --ondisk=sda --size=1024
volgroup centos --pesize=4096 pv.993
logvol /home  --fstype="ext4" --size=20480 --name=home --vgname=centos
logvol /  --fstype="ext4" --size=7163 --name=root --vgname=centos

%packages
@^minimal
@compat-libraries
@core
@development
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
